* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

h1{
text-align: center;
font-family: "Gill Sans", sans-serif;
font-size: 60px;
padding: 10px;
text-shadow: 2px 2px 5px #fff;
}

h1:hover{
  color:  bisque; opacity: 0.5;
}

body{
background-repeat: no-repeat;
background-size: cover; 
text-align: center;
margin:0px;
flex-wrap: nowrap;
} 

.formulario{
background-color: whitesmoke ; opacity: 0.5;
color: black;
font-size: 20px;
width: auto;
max-width: 600px;
border-radius: 50px;
border: 6px solid #c3c3c3;
align-content: center;
margin: 0 auto; 
}

.campo input[type="text"], .campo input[type="email"], .campo input {type="date"];
border: 0.5px solid #59429d;
}

fieldset{
border: none;
}

input:focus{
background-color: yellow;
}
  

.estiloB:hover{
color: blue; 
font-style: oblique;
}

.check-label, .radio-label{
cursor:  pointer;
}

button {
font-size: 20px;
background: #59429d;
color: #ffffff;
box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

#reset:hover{
  background: red;
}
button:hover{
background: greenyellow;
}

header {
padding: 10px;
margin: 10px;
background-color: green;  
}

#rodape {
padding-bottom: 20px;
}

footer {
display: block;
background-color:green;
}

